<ion-card class="insumos-card">
  <ion-card-content>
    <h2 class="insumos-title">Insumos asignados</h2>

    <div *ngIf="cargando" class="insumos-loading">
      Cargando insumos...
    </div>

    <ng-container *ngIf="!cargando">
      <ion-item class="insumo-item" lines="none">
        <ion-select
          placeholder="Seleccionar insumo"
          [(ngModel)]="insumoSeleccionado">
          <ion-select-option
            *ngFor="let insumo of insumos"
            [value]="insumo.id"
            [disabled]="!insumoDisponible(insumo.id)">
            {{ insumo.descripcion }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item class="insumo-item" lines="none">
        <ion-input
          type="number"
          min="0.01"
          step="0.01"
          placeholder="Cantidad"
          [(ngModel)]="cantidad">
        </ion-input>
      </ion-item>

      <ion-button
        expand="block"
        color="success"
        [disabled]="!insumoSeleccionado || cantidad === null || cantidad <= 0 || !insumoDisponible(insumoSeleccionado)"
        (click)="agregarInsumo()">
        <ion-icon name="add-outline" slot="start"></ion-icon>
        Agregar insumo
      </ion-button>

      <div *ngIf="asignaciones.length === 0" class="insumos-empty">
        Aún no hay insumos asignados.
      </div>

      <div class="insumos-list" *ngIf="asignaciones.length > 0">
        <div class="insumo-row" *ngFor="let asignacion of asignaciones; let i = index; trackBy: trackByInsumoId">
          <div class="insumo-text">
            <strong>{{ obtenerNombreInsumo(asignacion.idInsumo) }}</strong>
            <span>Cantidad: {{ asignacion.cantidad }}</span>
          </div>

          <ion-button fill="clear" color="danger" size="small" (click)="eliminarInsumo(i)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </div>
      </div>
    </ng-container>
  </ion-card-content>
</ion-card>
